Repository rzlsoftware/rzl-online-hilfe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JakobFerdinand, @thumer, @NathalieBachinger, @KarinGross93, @Klaraburgstaller

Bilder bearbeiten, Kap 15
  docs/HONNext/15 Notenübersicht/img/image319.png
  docs/HONNext/15 Notenübersicht/img/image330.png
Owners: @Klaraburgstaller

Tabellen Kap 18
  docs/HONNext/18 Notenvorlagen/Notenvorlagen.md
  docs/HONNext/18 Notenvorlagen/img/image338.png
Owners: @Klaraburgstaller

Bilder bearbeiten, Kap 19
  docs/HONNext/19 Auswertungen/Auswertungen.md
  docs/HONNext/19 Auswertungen/img/image350.png
  docs/HONNext/19 Auswertungen/img/image353.png
  docs/HONNext/19 Auswertungen/img/image358.png
  docs/HONNext/19 Auswertungen/img/image367.png
  docs/HONNext/19 Auswertungen/img/image370.png
  docs/HONNext/19 Auswertungen/img/image374.png
  docs/HONNext/19 Auswertungen/img/image375.png
  docs/HONNext/19 Auswertungen/img/image376.png
  docs/HONNext/19 Auswertungen/img/image380.png
  docs/HONNext/19 Auswertungen/img/image381.png
  docs/HONNext/19 Auswertungen/img/image382.png
  docs/HONNext/19 Auswertungen/img/image383.png
  docs/HONNext/19 Auswertungen/img/image384.png
  docs/HONNext/19 Auswertungen/img/image385.png
  docs/HONNext/19 Auswertungen/img/image386.png
Owners: @Klaraburgstaller

Kap 20/21 überarbeiten
  docs/HONNext/20 Datenübernahme/Datenübernahme.md
  docs/HONNext/20 Datenübernahme/img/image153.png
  docs/HONNext/20 Datenübernahme/img/image405.png
  docs/HONNext/21 Sonstige Funktionen/img/image411.png
Owners: @Klaraburgstaller

Kapitel unterteilen
  docs/HONNext/2 Stammdaten/.pages
  docs/HONNext/2 Stammdaten/Allgemeine Textbausteine.md
  docs/HONNext/2 Stammdaten/Arbeitszeitmodelle.md
  docs/HONNext/2 Stammdaten/Feiertagsverwaltung.md
  docs/HONNext/2 Stammdaten/Nummernbereiche.md
  docs/HONNext/2 Stammdaten/Stammdaten.md
  docs/HONNext/2 Stammdaten/Tarifschemata.md
  docs/HONNext/2 Stammdaten/Tätigkeiten.md
  docs/HONNext/2 Stammdaten/Verrechnungsgruppen.md
  docs/HONNext/2 Stammdaten/index.md
  docs/HONNext/3 Einstellungen/.pages
  docs/HONNext/3 Einstellungen/Bewegungsdaten bearbeiten.md
  docs/HONNext/3 Einstellungen/Einstellungen Urlaubsverwaltung.md
  docs/HONNext/3 Einstellungen/Grundeinstellungen.md
  docs/HONNext/3 Einstellungen/Mitarbeiter Leistungserfassung.md
  docs/HONNext/3 Einstellungen/index.md
Owners: @Klaraburgstaller

Kapitel unterteilen
  docs/HONNext/4 Unternehmensbereiche/index.md
  docs/HONNext/7 Verrechnungs Erfassungsklient/.pages
  docs/HONNext/7 Verrechnungs Erfassungsklient/Auswertungen.md
  docs/HONNext/7 Verrechnungs Erfassungsklient/Hinterlegung in den Stammdaten.md
  docs/HONNext/7 Verrechnungs Erfassungsklient/Notenerstellung Verrechnungsklient.md
  docs/HONNext/7 Verrechnungs Erfassungsklient/Ver.Erfassungsklient.md
  docs/HONNext/7 Verrechnungs Erfassungsklient/index.md
Owners: @Klaraburgstaller

Kapitel 8 unterteilen
  docs/HONNext/8 Leistungserfassung/.pages
  docs/HONNext/8 Leistungserfassung/Leistungen erfassen.md
  docs/HONNext/8 Leistungserfassung/Leistungsübersicht.md
  docs/HONNext/8 Leistungserfassung/index.md
Owners: @Klaraburgstaller

Kapitel 9 unterteilen
  docs/HONNext/9 Mitarbeiterübersicht/.pages
  docs/HONNext/9 Mitarbeiterübersicht/Arbeitszeitkalender.md
  docs/HONNext/9 Mitarbeiterübersicht/Import Arbeitszeiten und Leistungen.md
  docs/HONNext/9 Mitarbeiterübersicht/Mitarbeiterübersicht.md
  docs/HONNext/9 Mitarbeiterübersicht/Tageserfassung im HON.md
  docs/HONNext/9 Mitarbeiterübersicht/Urlaubskartei.md
  docs/HONNext/9 Mitarbeiterübersicht/index.md
Owners: @Klaraburgstaller

Kapitel 11 13 unterteilen
  docs/HONNext/11 Notenerstellung/.pages
  docs/HONNext/11 Notenerstellung/Automatische Rabatte und Aufschläge.md
  docs/HONNext/11 Notenerstellung/Interne Note.md
  docs/HONNext/11 Notenerstellung/Leere Note.md
  docs/HONNext/11 Notenerstellung/Möglichkeiten zur Notenerstellung.md
  docs/HONNext/11 Notenerstellung/Notenerstellung.md
  docs/HONNext/11 Notenerstellung/Notenvorschläge.md
  docs/HONNext/11 Notenerstellung/Offene Leistungen.md
  docs/HONNext/11 Notenerstellung/index.md
  docs/HONNext/13 Akonto und Anzahlungen/.pages
  docs/HONNext/13 Akonto und Anzahlungen/Akonto und Anzahlungen.md
  docs/HONNext/13 Akonto und Anzahlungen/Anlage von Akonto und Anzahlungen.md
  docs/HONNext/13 Akonto und Anzahlungen/Notenerstellung und Belegverarbeitung mit Akonto und Anzahlungen.md
  docs/HONNext/13 Akonto und Anzahlungen/Wiederkehrende Akonten.md
  docs/HONNext/13 Akonto und Anzahlungen/index.md
Owners: @Klaraburgstaller

Kap 14 unterteilen
  docs/HONNext/14 Pauschalverrechnung/.pages
  docs/HONNext/14 Pauschalverrechnung/Automatische Gutschrift einer Pauschale.md
  docs/HONNext/14 Pauschalverrechnung/Bezeichnung der Pauschale.md
  docs/HONNext/14 Pauschalverrechnung/Notenerstellung mit Pauschalzeilen.md
  docs/HONNext/14 Pauschalverrechnung/Pauschalausgleich.md
  docs/HONNext/14 Pauschalverrechnung/Pauschalen in den Umsatzstatistiken.md
  docs/HONNext/14 Pauschalverrechnung/Pauschalstatistik.md
  docs/HONNext/14 Pauschalverrechnung/Pauschalverrechnung.md
  docs/HONNext/14 Pauschalverrechnung/Pauschalzeilen.md
  docs/HONNext/14 Pauschalverrechnung/Schlussnote.md
  docs/HONNext/14 Pauschalverrechnung/Tätigkeiten nicht in Pauschale.md
  docs/HONNext/14 Pauschalverrechnung/Wiederkehrende Pauschalzeilen.md
  docs/HONNext/14 Pauschalverrechnung/index.md
Owners: @Klaraburgstaller

Kap 18 unterteilen
  docs/HONNext/18 Notenvorlagen/.pages
  docs/HONNext/18 Notenvorlagen/Formelsammlung.md
  docs/HONNext/18 Notenvorlagen/Notenvorlagen.md
  docs/HONNext/18 Notenvorlagen/Vorlage exportieren und importieren.md
  docs/HONNext/18 Notenvorlagen/Vorlagen anlegen und bearbeiten.md
  docs/HONNext/18 Notenvorlagen/Zuordnung der Vorlage.md
  docs/HONNext/18 Notenvorlagen/index.md
Owners: @Klaraburgstaller

Titelseite Überschrift
  docs/HONNext/index.md
Owners: @Klaraburgstaller

Unterteilung Kapitel
  docs/HONNext/.pages
  docs/HONNext/Einstellungen/Grundeinstellungen.md
  docs/HONNext/Einstellungen/index.md
  docs/HONNext/Stammdaten/index.md
  docs/HONNext/Unternehmensbereiche.md
  docs/HONNext/img/image100.png
  docs/HONNext/img/image101.png
  docs/HONNext/img/image102.png
  docs/HONNext/img/image103.png
Owners: @Klaraburgstaller

Kap Einstellungen korrigiert
  docs/HONNext/Einstellungen/.pages
Owners: @Klaraburgstaller

Kapitel unterteilung ändern
  docs/HONNext/.pages
  docs/HONNext/Leistungserfassung/.pages
  docs/HONNext/Leistungserfassung/Leistungen erfassen.md
  docs/HONNext/Leistungserfassung/index.md
  docs/HONNext/Stammdaten Klienten.md
  docs/HONNext/Stammdaten Mitarbeiter.md
  docs/HONNext/Verrechnungs Erfassungsklient/.pages
  docs/HONNext/Verrechnungs Erfassungsklient/Allgemeines.md
  docs/HONNext/img/image104.png
  docs/HONNext/img/image105.png
  docs/HONNext/img/image106.png
  docs/HONNext/img/image108.png
  docs/HONNext/img/image109.png
  docs/HONNext/img/image110.png
  docs/HONNext/img/image111.png
  docs/HONNext/img/image112.png
  docs/HONNext/img/image113.png
  docs/HONNext/img/image114.png
  docs/HONNext/img/image115.png
  docs/HONNext/img/image116.png
  docs/HONNext/img/image117.png
  docs/HONNext/img/image170.png
  docs/HONNext/img/image171.png
  docs/HONNext/Überstundenauszahlungen erfassen.md
Owners: @Klaraburgstaller

Kapitel strukturieren
  docs/HONNext/.pages
  docs/HONNext/Akonto und Anzahlungen/index.md
  docs/HONNext/Datenübernahme.md
  docs/HONNext/Gutschriftenerstellung.md
  docs/HONNext/Hilfreiche Shortcuts.md
  docs/HONNext/Notendruckvorschau.md
  docs/HONNext/Notenerstellung/index.md
  docs/HONNext/Notenrückblick.md
  docs/HONNext/Notenvorlagen/index.md
  docs/HONNext/Pauschalverrechnung/index.md
  docs/HONNext/Sonstige Funktionen.md
  docs/HONNext/Verrechnungs Erfassungsklient/Allgemeines.md
  docs/HONNext/img/image150.png
  docs/HONNext/img/image151.png
  docs/HONNext/img/image152.png
  docs/HONNext/img/image153.png
  docs/HONNext/img/image243.png
  docs/HONNext/img/image244.png
  docs/HONNext/img/image245.png
  docs/HONNext/img/image246.png
  docs/HONNext/img/image247.png
  docs/HONNext/img/image331.png
  docs/HONNext/img/image332.png
  docs/HONNext/img/image333.png
  docs/HONNext/img/image405.png
  docs/HONNext/img/image406.png
  docs/HONNext/img/image407.png
  docs/HONNext/img/image408.png
  docs/HONNext/img/image409.png
  docs/HONNext/img/image410.png
  docs/HONNext/img/image411.png
Owners: @Klaraburgstaller

Bild 4 ergänzt
  docs/HONNext/Allgemeine Bedienung/img/image4.png
Owners: @Klaraburgstaller

Kapitel verlinken
  docs/HONNext/Einstellungen/Einstellungen Urlaubsverwaltung.md
  docs/HONNext/Einstellungen/Grundeinstellungen.md
  docs/HONNext/Einstellungen/Mitarbeiter Leistungserfassung.md
  docs/HONNext/Mitarbeiterübersicht/index.md
  docs/HONNext/Stammdaten HON Next/Arbeitszeitmodelle.md
  docs/HONNext/Stammdaten HON Next/Tätigkeiten.md
  docs/HONNext/Stammdaten HON Next/Verrechnungsgruppen.md
Owners: @Klaraburgstaller

Notenübersicht bearbeitet, Kapitel verlinken
  docs/HONNext/.pages
  docs/HONNext/Notenübersicht.md
  docs/HONNext/Stammdaten Klienten.md
  docs/HONNext/Stammdaten Mitarbeiter.md
  docs/HONNext/img/image306.png
  docs/HONNext/img/image307.png
  docs/HONNext/img/image308.png
  docs/HONNext/img/image309.png
  docs/HONNext/img/image310.png
  docs/HONNext/img/image311.png
  docs/HONNext/img/image312.png
  docs/HONNext/img/image313.png
  docs/HONNext/img/image314.png
  docs/HONNext/img/image315.png
  docs/HONNext/img/image316.png
  docs/HONNext/img/image317.png
  docs/HONNext/img/image318.png
  docs/HONNext/img/image319.png
  docs/HONNext/img/image320.png
  docs/HONNext/img/image321.png
  docs/HONNext/img/image322.png
  docs/HONNext/img/image323.png
  docs/HONNext/img/image324.png
  docs/HONNext/img/image325.png
  docs/HONNext/img/image326.png
  docs/HONNext/img/image327.png
  docs/HONNext/img/image328.png
  docs/HONNext/img/image329.png
  docs/HONNext/img/image330.png
Owners: @Klaraburgstaller

Kapitel verlinken
  docs/HONNext/Auswertungen/.pages
  docs/HONNext/Auswertungen/Umsatzstatistik Allgemein.md
  docs/HONNext/Verrechnungs Erfassungsklient/Auswertungen.md
  docs/HONNext/Verrechnungs Erfassungsklient/Notenerstellung Verrechnungsklient.md
Owners: @Klaraburgstaller

Kapitel verlinken
  docs/HONNext/Leistungserfassung/Leistungen erfassen.md
  docs/HONNext/Leistungserfassung/Leistungsübersicht.md
  docs/HONNext/Mitarbeiterübersicht/Import Arbeitszeiten und Leistungen.md
  docs/HONNext/Mitarbeiterübersicht/Tageserfassung im HON.md
  docs/HONNext/Mitarbeiterübersicht/index.md
Owners: @Klaraburgstaller

Kapitel verlinken
  docs/HONNext/Notenerstellung/Leere Note.md
  docs/HONNext/Notenerstellung/Möglichkeiten zur Notenerstellung.md
  docs/HONNext/Notenerstellung/Notenerstellung.md
  docs/HONNext/Notenerstellung/Notenvorschläge.md
  docs/HONNext/Notenerstellung/Offene Leistungen.md
  docs/HONNext/Notenerstellung/index.md
Owners: @Klaraburgstaller

Kapitel verlinken
  docs/HONNext/Gutschriftenerstellung.md
  docs/HONNext/Pauschalverrechnung/Automatische Gutschrift einer Pauschale.md
  docs/HONNext/Pauschalverrechnung/Pauschalausgleich.md
  docs/HONNext/Pauschalverrechnung/Pauschalstatistik.md
  docs/HONNext/Pauschalverrechnung/Pauschalzeilen.md
  docs/HONNext/Pauschalverrechnung/Schlussnote.md
  docs/HONNext/Pauschalverrechnung/Wiederkehrende Pauschalzeilen.md
Owners: @Klaraburgstaller

Kapitel verlinken
  docs/HONNext/Auswertungen/Leistungsübersicht.md
  docs/HONNext/Auswertungen/Mitarbeiter und Klientenliste.md
  docs/HONNext/Auswertungen/RZL Layouts.md
  docs/HONNext/Auswertungen/Speicherbare Layouts.md
  docs/HONNext/Auswertungen/Statistik Manager.md
  docs/HONNext/Auswertungen/Statistiken.md
  docs/HONNext/Auswertungen/Umsatzstatistik Allgemein.md
  docs/HONNext/Datenübernahme.md
  docs/HONNext/Notenrückblick.md
  docs/HONNext/Notenvorlagen/Formelsammlung.md
  docs/HONNext/Notenvorlagen/Zuordnung der Vorlage.md
  docs/HONNext/Notenübersicht.md
Owners: @Klaraburgstaller

FIBUNext_2.24.7_Aenderungen
  docs/FIBUNext/Ausdrucke/FA-Überweisungsliste.md
  docs/FIBUNext/Ausdrucke/Saldenliste.md
  docs/FIBUNext/Auswertungen/Konto.md
  docs/FIBUNext/Auswertungen/OP-Liste.md
  docs/FIBUNext/Auswertungen/OP.md
  docs/FIBUNext/Auswertungen/img/image1.png
  docs/FIBUNext/Auswertungen/img/image2.png
  docs/FIBUNext/Auswertungen/img/image3.png
  docs/FIBUNext/Erfassen/Buchen/Buchungszeile.md
  docs/FIBUNext/Erfassen/Buchen/img/image3.png
  docs/FIBUNext/RZL-Taschenrechner.md
  docs/FIBUNext/Stammdaten FIBU Next/KreditkartenVerbuchungsregeln.md
  docs/FIBUNext/img/image1.png
Owners: @NathalieBachinger, @KarinGross93

FIBUNext_2.24.7_Aenderungen (#35)
  docs/FIBUNext/Ausdrucke/FA-Überweisungsliste.md
  docs/FIBUNext/Ausdrucke/Saldenliste.md
  docs/FIBUNext/Auswertungen/Konto.md
  docs/FIBUNext/Auswertungen/OP-Liste.md
  docs/FIBUNext/Auswertungen/OP.md
  docs/FIBUNext/Auswertungen/img/image1.png
  docs/FIBUNext/Auswertungen/img/image2.png
  docs/FIBUNext/Auswertungen/img/image3.png
  docs/FIBUNext/Erfassen/Buchen/Buchungszeile.md
  docs/FIBUNext/Erfassen/Buchen/img/image3.png
  docs/FIBUNext/RZL-Taschenrechner.md
  docs/FIBUNext/Stammdaten FIBU Next/KreditkartenVerbuchungsregeln.md
  docs/FIBUNext/img/image1.png
Owners: @NathalieBachinger, @KarinGross93

Titelseite
  docs/LENext/.pages
  docs/LENext/img/Leistungserfassung Next DM.svg
  docs/LENext/img/Leistungserfassung Next.svg
  docs/LENext/img/image1.jpg
  docs/LENext/index.md
Owners: @NathalieBachinger, @KarinGross93

doppelte Überschriften, Titelbaltt
  docs/PDFManager/.pages
  docs/PDFManager/Allgemein/Erste Schritte.md
  docs/PDFManager/Allgemein/Technische Voraussetzungen.md
  docs/PDFManager/Arbeitsoberfläche/Detailansicht.md
  docs/PDFManager/Arbeitsoberfläche/Dokumentenliste.md
  docs/PDFManager/Arbeitsoberfläche/Dokumentenvorschau.md
  docs/PDFManager/Arbeitsoberfläche/Externe Dokumente und Bilder drucken.md
  docs/PDFManager/Arbeitsoberfläche/Hilfe.md
  docs/PDFManager/Registerblatt Einstellungen.md
  docs/PDFManager/img/PDF Manager Premium DM.svg
  docs/PDFManager/img/PDF Manager Premium.svg
  docs/PDFManager/img/image2.jpg
  docs/PDFManager/img/image72.png
  docs/PDFManager/img/image73.png
  docs/PDFManager/index.md
Owners: @NathalieBachinger, @KarinGross93

Überschriften bearbeiten
  docs/LENext/Arbeitszeitkalender.md
  docs/LENext/Einstellungen/Arbeitszeit vorschlagen.md
  docs/LENext/Einstellungen/Persönliche Textbausteine.md
  docs/LENext/Einstellungen/Werte vorschlagen.md
  docs/LENext/Einstellungen/Zeiterfassung.md
  docs/LENext/Leistungserfassung/Arbeitszeit Vorschlag.md
  docs/LENext/Leistungserfassung/Datenimport.md
  docs/LENext/Leistungserfassung/Eingabe einer Leistungszeile außerhalb der LE.md
  docs/LENext/Leistungserfassung/Feiertagsverwaltung.md
  docs/LENext/Leistungserfassung/Formen der Arbeitszeitaufzeichnung.md
  docs/LENext/Leistungserfassung/Ganztägiger Zeitausgleich.md
  docs/LENext/Leistungserfassung/Homeoffice.md
  docs/LENext/Leistungserfassung/Krankenstand eintragen.md
  docs/LENext/Leistungserfassung/Leistungen erfassen.md
  docs/LENext/Leistungserfassung/Leistungen löschen.md
  docs/LENext/Leistungserfassung/Tagesfreigabe.md
  docs/LENext/Leistungserfassung/Unvollständige Tage.md
  docs/LENext/Leistungserfassung/Urlaub eintragen.md
Owners: @NathalieBachinger, @KarinGross93

Bilder überarbeiten
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Anzahl Belege.md
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Belegansichten nach dem Hinzufügen.md
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Grundeinstellungen.md
  docs/Belegverarbeitung/Gebuchte Belege aufrufen.md
  docs/Belegverarbeitung/Modul Belege am RZL Klientenportal.md
  docs/Belegverarbeitung/Verarbeitung in der RZL FIBU.md
  docs/Belegverarbeitung/Vorwort.md
  docs/Belegverarbeitung/img/image71.png
  docs/Belegverarbeitung/img/image81.png
  docs/Belegverarbeitung/img/image82a.png
  docs/Belegverarbeitung/img/image89.png
  docs/Belegverarbeitung/img/image89a.png
  docs/Belegverarbeitung/img/image90.png
  docs/Belegverarbeitung/img/image92.png
  docs/Belegverarbeitung/img/image93.png
  docs/Belegverarbeitung/img/image94.png
  docs/Belegverarbeitung/img/image97.png
Owners: @NathalieBachinger, @KarinGross93

Formatierung
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Belegbearbeitung und -aufbereitung.md
Owners: @NathalieBachinger, @KarinGross93

Frag Hainz!
  docs/img/herz_neuronen.svg
  docs/stylesheets/extra.css
  mkdocs.yml
  overrides/main.html
Owners: @NathalieBachinger, @KarinGross93, @JakobFerdinand, @thumer

move config in theme section
  mkdocs.yml
  overrides/main.html
Owners: @JakobFerdinand, @thumer

Update SVG fill color and image size in documentation
  docs/img/herz_neuronen.svg
  docs/stylesheets/extra.css
  overrides/main.html
Owners: @NathalieBachinger, @KarinGross93, @JakobFerdinand, @thumer

Frag Hainz! (#36)
  docs/img/herz_neuronen.svg
  docs/stylesheets/extra.css
  mkdocs.yml
  overrides/main.html
Owners: @NathalieBachinger, @KarinGross93, @JakobFerdinand, @thumer

chore: update icon path in mkdocs.yml
  mkdocs.yml
Owners: @JakobFerdinand, @thumer

Add Frag Hainz Tooltip
  overrides/main.html
Owners: @JakobFerdinand, @thumer

GH Action Permissions
  .github/workflows/build-docs.yml
Owners: @JakobFerdinand, @thumer

GH Action Permissions (#39)
  .github/workflows/build-docs.yml
Owners: @JakobFerdinand, @thumer

.github/CODEOWNERS:

# F端r alle Configurations-Dateien
*        @JakobFerdinand @thumer

# F端r alles innerhalb des docs-Ordners
docs/    @NathalieBachinger @KarinGross93

# F端r alles zum Thema FIBU Next
/docs/FIBUNext/   @NathalieBachinger @KarinGross93

# F端r alles zum Thema HON Next
docs/HONNext/    @Klaraburgstaller
