Repository rzlsoftware/rzl-online-hilfe, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JakobFerdinand, @thumer, @NathalieBachinger, @KarinGross93, @Klaraburgstaller

.github/CODEOWNERS:

# F端r alle Configurations-Dateien
*        @JakobFerdinand @thumer

# F端r alles innerhalb des docs-Ordners
docs/    @NathalieBachinger @KarinGross93

# F端r alles zum Thema FIBU Next
/docs/FIBUNext/   @NathalieBachinger @KarinGross93

# F端r alles zum Thema HON Next
docs/HONNext/    @Klaraburgstaller

Einfügen zusätzlicher Kapitel
  docs/FIBUNext/.pages
  docs/FIBUNext/Ausdrucke/OP-Liste.md
  docs/FIBUNext/Auswertungen/Journal.md
  docs/FIBUNext/Datenübernahme/.pages
  docs/FIBUNext/Datenübernahme/aus EA-Rechnung Klassik/index.md
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/img/image1.png
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/img/image2.png
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/img/image3.png
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/img/image4.png
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/img/image5.png
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/img/image6.png
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/index.md
  docs/FIBUNext/Erfassen/.pages
  docs/FIBUNext/Erfassen/Buchen/Buchungszeile.md
  docs/FIBUNext/Erfassen/Buchen/Stapelbuchen.md
  docs/FIBUNext/Erfassen/Buchen/img/image1.png
  docs/FIBUNext/Erfassen/Buchen/img/image2.png
  docs/FIBUNext/Erfassen/Notizzettel.md
  docs/FIBUNext/Erfassen/img/image4.png
  docs/FIBUNext/Erfassen/img/image5.png
  docs/FIBUNext/Stammdaten FIBU Next/KreditkartenVerbuchungsregeln.md
  docs/FIBUNext/Stammdaten FIBU Next/img/image1.png
  docs/FIBUNext/Stammdaten FIBU Next/img/image2.png
Owners: @NathalieBachinger, @KarinGross93

Neuerungen aus Sprints eingepflegt
  docs/FIBUNext/Erfassen/Buchen/Buchungszeile.md
  docs/FIBUNext/Klientenstammdaten/Allgemein/Sicherungscenter.md
  docs/FIBUNext/Stammdaten FIBU Next/Belegkreise.md
  docs/FIBUNext/Stammdaten FIBU Next/img/image3.png
  docs/FIBUNext/Stammdaten FIBU Next/img/image4.png
  docs/FIBUNext/Stammdaten Vorlagen/.pages
  docs/FIBUNext/Stammdaten Vorlagen/FIBUSicherungseinstellungen.md
  docs/FIBUNext/Stammdaten Vorlagen/img/image1.png
  docs/FIBUNext/Stammdaten Vorlagen/img/image2.png
  docs/FIBUNext/Stammdaten Vorlagen/img/image3.png
  docs/FIBUNext/Stammdaten Vorlagen/img/image5.png
Owners: @NathalieBachinger, @KarinGross93

Wirtschaftsjahr bearbeiten und Bilder löschen
  docs/FIBUNext/Klientenstammdaten/Allgemein/.pages
  docs/FIBUNext/Klientenstammdaten/Allgemein/NeuesWirtschaftsjahranlegen.md
  docs/FIBUNext/Klientenstammdaten/Allgemein/Wirtschaftsjahrbearbeiten.md
  docs/FIBUNext/Klientenstammdaten/Allgemein/img/NeuesElement201.png
  docs/FIBUNext/Klientenstammdaten/Allgemein/img/NeuesElement202.png
  docs/FIBUNext/Klientenstammdaten/Allgemein/img/image1.png
  docs/FIBUNext/Klientenstammdaten/Allgemein/img/image2.png
  docs/FIBUNext/Klientenstammdaten/Allgemein/img/image3.png
Owners: @NathalieBachinger, @KarinGross93

Kreditkartenverbuchungsregeln
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/index.md
  docs/FIBUNext/Erfassen/RetourdatenverarbeitungMittelsCAMT-Dateien.md
  docs/FIBUNext/Erfassen/img/image6.png
  docs/FIBUNext/Stammdaten FIBU Next/KreditkartenVerbuchungsregeln.md
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
  docs/FIBUNext/Stammdaten FIBU Next/img/NeuesElement150.png
  docs/FIBUNext/Stammdaten FIBU Next/img/image5.png
  docs/FIBUNext/img/FIBU Next.svg
  docs/FIBUNext/index.md
Owners: @NathalieBachinger, @KarinGross93

Einarbeitung Anwenderwünsche
  docs/FIBUNext/Datenübernahme/aus EA-Rechnung Klassik/index.md
  docs/FIBUNext/Datenübernahme/aus FIBU Klassik/index.md
  docs/FIBUNext/Klientenstammdaten/Allgemein/Sicherungscenter.md
  docs/FIBUNext/Stammdaten Vorlagen/Kontenplane.md
  docs/FIBUNext/Stammdaten Vorlagen/img/image6.png
  docs/FIBUNext/Umsatzsteuer/BuchenmitVorsteuer.md
  docs/FIBUNext/Umsatzsteuer/img/image1.png
Owners: @NathalieBachinger, @KarinGross93

Fix close Pull Request token
  .github/workflows/build-docs.yml
Owners: @JakobFerdinand, @thumer

Änderung Ausdruck Journal
  docs/FIBUNext/Ausdrucke/Journal.md
Owners: @NathalieBachinger, @KarinGross93

fix .pages
  docs/.pages
  docs/FIBUNext/Ausdrucke/.pages
Owners: @NathalieBachinger, @KarinGross93

Änderung in den FIBUNext_AenderungKontostammdaten
  docs/FIBUNext/Stammdaten Vorlagen/Kontenplane.md
Owners: @NathalieBachinger, @KarinGross93

Änderung in den FIBUNext_AenderungKontostammdaten (#19)
  docs/FIBUNext/Stammdaten Vorlagen/Kontenplane.md
Owners: @NathalieBachinger, @KarinGross93

Update index.md
  docs/index.md
Owners: @NathalieBachinger, @KarinGross93

Aenderungen_Verbuchungsregeln
  docs/FIBUNext/Ausdrucke/Kassajournal.md
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
Owners: @NathalieBachinger, @KarinGross93

Update Verbuchungsregeln.md
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
Owners: @NathalieBachinger, @KarinGross93

Neues Commit
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
Owners: @NathalieBachinger, @KarinGross93

Update Verbuchungsregeln.md - Änderung 2.24.7 umgesetzt.
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
Owners: @NathalieBachinger, @KarinGross93

geändert auf 8
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
Owners: @NathalieBachinger, @KarinGross93

Kap. Belegbearbeitung formatiert
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Belegbearbeitung und -aufbereitung.md
Owners: @NathalieBachinger, @KarinGross93

Kap. BV im Board formatieren
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Belegansichten nach dem Hinzufügen.md
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Detailbeschreibung.md
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Möglichkeiten zum Belegimport.md
Owners: @NathalieBachinger, @KarinGross93

Redirect url when trailing shlash is missing
  docs/scripts/redirect.js
  mkdocs.yml
Owners: @NathalieBachinger, @KarinGross93, @JakobFerdinand, @thumer

Redirect url when trailing shlash is missing (#24)
  docs/scripts/redirect.js
  mkdocs.yml
Owners: @NathalieBachinger, @KarinGross93, @JakobFerdinand, @thumer

Netbanking
  docs/FIBUNext/Erfassen/.pages
  docs/FIBUNext/Erfassen/Kontoauszugsverbuchungmitnetbanking.md
  docs/FIBUNext/Stammdaten FIBU Next/Verbuchungsregeln.md
Owners: @NathalieBachinger, @KarinGross93

Notizzettel
  docs/FIBUNext/Erfassen/Notizzettel.md
Owners: @NathalieBachinger, @KarinGross93

Update Notizzettel.md
  docs/FIBUNext/Erfassen/Notizzettel.md
Owners: @NathalieBachinger, @KarinGross93

Update Kontoauszugsverbuchungmitnetbanking.md
  docs/FIBUNext/Erfassen/Kontoauszugsverbuchungmitnetbanking.md
Owners: @NathalieBachinger, @KarinGross93

Update Kontoauszugsverbuchungmitnetbanking.md
  docs/FIBUNext/Erfassen/Kontoauszugsverbuchungmitnetbanking.md
Owners: @NathalieBachinger, @KarinGross93

Check also if .html is the ending
  docs/scripts/redirect.js
Owners: @NathalieBachinger, @KarinGross93

Update redirect.js
  docs/scripts/redirect.js
Owners: @NathalieBachinger, @KarinGross93

Fix for 404 not showing
  mkdocs.yml
Owners: @JakobFerdinand, @thumer

Update mkdocs.yml
  mkdocs.yml
Owners: @JakobFerdinand, @thumer

Fix for 404 not showing (#27)
  mkdocs.yml
Owners: @JakobFerdinand, @thumer

Update build-docs.yml
  .github/workflows/build-docs.yml
Owners: @JakobFerdinand, @thumer

Update build-docs.yml (#28)
  .github/workflows/build-docs.yml
Owners: @JakobFerdinand, @thumer

Fix logo usage in Dark Mode
  docs/index.md
Owners: @NathalieBachinger, @KarinGross93

Formatierungen
  docs/Belegverarbeitung/Belegverarbeitung im RZL Board/Grundeinstellungen.md
  docs/Belegverarbeitung/Modul Belege am RZL Klientenportal/Modul Belege am RZL Klieportal.md
  docs/Belegverarbeitung/Verarbeitung in der RZL FIBU/Verarbeitung in FIBU.md
Owners: @NathalieBachinger, @KarinGross93

Update index.md
  docs/index.md
Owners: @NathalieBachinger, @KarinGross93

Kapiteleinteilung
  docs/HONNext/1 Allgemeine Bedienung/Allgemeine Bedienung.md
  docs/HONNext/2 Stammdaten/Stammdaten.md
  docs/HONNext/3 Einstellungen/Einstellungen.md
  docs/HONNext/4 Unternehmensbereich/Unternehmensbereiche.md
  docs/HONNext/5 Stammdaten Mitarbeiter/Stammdaten Mitarbeiter.md
  docs/HONNext/6 Stammdaten Klienten/Stammdaten Klienten.md
  docs/HONNext/7 Verrechnungs Erfassungsklient/Ver.Erfassungsklient.md
  docs/HONNext/index.md
Owners: @Klaraburgstaller

Kapiteleinteilung
  docs/HONNext/.pages
  docs/HONNext/10 Überstundenauszahlungen erfassen/Überstunden.md
  docs/HONNext/11 Notenerstellung/Notenerstellung.md
  docs/HONNext/12 Gutschriftenerstellung/Gutschriftenerstellung.md
  docs/HONNext/13 Akonto und Anzahlungen/Akonto und Anzahlungen.md
  docs/HONNext/14 Pauschalverrechnung/Pauschalverrechnung.md
  docs/HONNext/15 Notenübersicht/Notenübersicht.md
  docs/HONNext/16 Notenrückblick/Notenrückblick.md
  docs/HONNext/17 Notendruckvorschau/Notendruckvorschau.md
  docs/HONNext/18 Notenvorlagen/Notenvorlagen.md
  docs/HONNext/19 Auswertungen/Auswertungen.md
  docs/HONNext/20 Datenübernahme/Datenübernahme.md
  docs/HONNext/21 Sonstige Funktionen/Sonstige Funktionen.md
  docs/HONNext/22 Hilfreiche Shortcuts/Hilfreiche Shortcuts.md
  docs/HONNext/8 Leistungserfassung/Leistungserfassung.md
  docs/HONNext/9 Mitarbeiterübersicht/Mitarbeiterübersicht.md
  docs/HONNext/index.md
Owners: @Klaraburgstaller

pages datei
  docs/HONNext/.pages
  docs/HONNext/Allgemeine Bedienung/Allgemeine Bedienung.md
Owners: @Klaraburgstaller

pages
  docs/HONNext/.pages
  docs/HONNext/1 Allgemeine Bedienung/Allgemeine Bedienung.md
  docs/HONNext/4 Unternehmensbereiche/Unternehmensbereiche.md
Owners: @Klaraburgstaller

Impressum löschen
  docs/HONNext/index.md
Owners: @Klaraburgstaller
